@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.colocar{
    width: 75px;
    height: 75px;
    background-color: rgb(66, 66, 66);
    color: white;
    border: 1px solid white;
}
.alinhar{
    height: max-content;
    margin-bottom: 60px;
    width: max-content;
    margin: auto;
    cursor: pointer;

}
.lateral{
    width: 70px;
    height: 250px;
    background-color: gray;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Montserrat', sans-serif;
}
.lateralv{
        width: 70px;
        height: 250px;
        background-color: gold;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family:'Montserrat', sans-serif;
}
.lineH{
    display: flex;
}

.control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.178);
    height: 55px;

}
